[2015-06-24 10:23] peti opened #2 "Please add a link to this issue tracker to the Cabal file"
The current Cabal file doesn't refer to the Github project, which makes it hard for people to provide feedback.

[2015-07-07 15:49] adnelson commented on #2
fixed in 655b39ac3a1d309185e8d9d63f29c2fb2f02a049

[2015-07-07 15:49] #2 closed

[2015-07-07 15:51] adnelson opened #3 "Ability to extend without overwriting"
If I have a bunch of packages defined in folder `foo`, I might want to create a new set of packages in folder `bar`, without overwriting the ones in `foo` (for example, `foo` might be in `nixpkgs`, while `bar` is in a company folder).

[2015-07-07 15:53] adnelson opened #4 "Implement CLI better"
Need to figure out `docopt` and its haskell API a bit better to get the proper CLI implemented.

[2015-07-07 15:53] adnelson opened #5 "Documentation improvement"
Need to write a better README that explains options and rationale for using `nixfromnpm` over `npm2nix`.

[2015-07-07 15:55] adnelson opened #6 "Reimplement `buildNodePackage` function"
The current function doesn't work with the way our dependencies been have set up. Probably it just needs a few minor tweaks, if any. Grokking the current `buildNodePackage` function is a non-trivial step here...

[2015-09-02 17:49] adnelson opened #7 "Options to build a package by name versus from a package.json file"
Presumably if building from a `package.json`, there should be a separate dependency set and package-specific `default.nix` built

Provisional usage:

[code]

[2015-09-02 17:52] adnelson commented on #3
Provisional usage:

[code]

[2015-09-02 17:54] adnelson opened #8 "Ability to build multiple packages"
We should be able to pass multiple packages to be built

[code]

[2015-09-02 17:55] adnelson opened #9 "Env vars should be able to be passed from command line"
Generally speaking, env-based configuration should also be able to be specified (indeed overwritten) from the command line.

[2015-09-14 15:16] adnelson commented on #4
Switch to `optparse-applicative`, this seems OK

[2015-09-14 15:16] #4 closed

[2015-09-14 15:19] adnelson commented on #3
So we need to distinguish in the data structure we build between expressions that should be referenced in the `output` expression (that are not being extended) and those which come from extensions, and thus shouldn't appear explicitly in the `output` expression.

[2015-09-14 15:21] adnelson commented on #3
Perhaps something like

[code]

[2015-09-14 18:42] adnelson opened #10 "Should be able to build dev version"
We need to be able to build something with devDependencies for local development. This is a challenge for when we are building expressions.

[2015-09-14 19:13] adnelson opened #11 "Double quotes in strings are not escaped"
If a nix string contains double quotes, they are not being escaped in the generated nix expressions; this is an error. It's likely a problem with `hnix`.

[2015-09-14 20:44] adnelson commented on #6
The reimplementation should correctly test packages (via `checkPhase`)

[2015-10-12 17:46] #3 closed

[2015-10-12 17:46] adnelson commented on #10
Done after much wailing and gnashing of teeth.

[2015-10-12 17:46] #10 closed

[2015-10-12 17:54] adnelson opened #15 "Package expressions should store whether they have development dependencies or not"
This will let us detect whether we should rebuild a pre-existing package expression (e.g. if it is being built with dev dependencies, and we haven't recorded these yet).

[2015-10-14 14:49] #5 closed

[2015-10-14 14:50] adnelson commented on #9
Currently using all command-line based config.

[2015-10-14 14:50] #9 closed

[2015-10-14 14:50] adnelson commented on #8
Done

[2015-10-14 14:50] #8 closed

[2015-10-15 22:50] adnelson opened #18 "Packages shouldn't necessarily fail if a dependency fails"
We probably want to allow packages to succeed even if their dependencies fail; this means that we don't have to do a whole lot of repeated work. We probably want to keep track of which packages failed to build, and report it at the end; command-line switches could have the tool not generate any output unless everything succeeds.

[2015-10-15 22:53] adnelson opened #19 "`-o` option is broken"
The option should detect if we're using a relative path or not. This kind of comes down to type safety...

[2015-10-15 23:11] adnelson opened #20 "need to detect cycles within immediate dependencies and attempt to fix them"
An example is `es6-iterator@2.0.0` and `es5-ext@0.10.8`. We should detect when we have a cycle that's not a dev dependency cycle, and attempt to fix it. Of course, we can't guarantee that it will, but....

[2015-10-15 23:14] adnelson commented on #20
A possible simple solution is that when looking for packages satisfying a version range, we filter out the ones that are being currently resolved. That way, for example when resolving `es5-ext@0.10.8`, we would attempt to resolve `es6-iterator@2.0.0`, and then when we resolve its version requirement `es5-ext@^0.10.7`, it would not consider `es5-ext@0.10.8` as a valid resolution.

[2015-10-15 23:16] adnelson opened #21 "Packages are getting dropped when using `-o` on the same location multiple times"
We need to make sure this doesn't happen.

[2015-10-23 01:36] adnelson commented on #21
Fixed by doing the programmatic loading of directories

[2015-10-23 01:36] #21 closed

[2015-10-23 01:36] adnelson commented on #20
Implemented the above.

[2015-10-23 01:36] #20 closed

[2015-10-23 01:37] adnelson commented on #19
fixed

[2015-10-23 01:37] #19 closed

[2015-10-23 01:38] adnelson commented on #18
Implemented more or less. We have a `brokenPackage` that will fail if it tries to build.

[2015-10-23 01:38] #18 closed

[2015-10-23 01:38] adnelson commented on #15
using `null` seems to work fine

[2015-10-23 01:38] #15 closed

[2015-10-23 01:38] adnelson commented on #11
Fixed in current master of hnix

[2015-10-23 01:38] #11 closed

[2015-10-23 01:38] adnelson commented on #7
done

[2015-10-23 01:38] #7 closed

[2015-10-23 01:39] adnelson commented on #6
done

[2015-10-23 01:39] #6 closed

[2015-10-26 16:19] adnelson opened #28 "Report when a broken package occurs"
We should tell a user when a downstream dependency was broken

[2015-10-26 18:00] adnelson opened #29 "Restructure npm fetcher state"
we shouldn't need the FullyDefinedPackage type. We should separate the cache simply into existing packages (the source of which isn't important), new packages, and broken packages.

[2015-10-27 20:06] adnelson opened #31 "Fix semver range matching with tags"
See [here](https://github.com/npm/node-semver#prerelease-tags)

[2015-10-27 20:07] adnelson opened #32 "Fetch peer dependencies"

[2015-10-27 20:08] adnelson opened #33 "Check bundled dependencies and fetch if not in dependencies"
Or throw an error (e.g. brokenpackage)

[2015-10-27 20:11] adnelson opened #34 "Fix import path in default.nix created off of package.json"

[2015-10-27 20:12] adnelson opened #35 "Read NIX_PATH for output/extension folders"

[2015-10-27 20:13] adnelson commented on #28
Done more or less. Could do more but eh.

[2015-10-27 20:13] #28 closed

[2015-10-27 20:13] adnelson commented on #29
ignoring for now

[2015-10-27 20:13] #29 closed

[2015-10-27 22:05] #32 closed

[2015-10-27 22:06] adnelson commented on #33
Fixed by #37

[2015-10-27 22:06] #33 closed

[2015-10-27 22:55] adnelson commented on #34
Fixed by #38

[2015-10-27 22:55] #34 closed

[2015-10-28 00:37] adnelson commented on #31
Fixed by #39

[2015-10-28 00:37] #31 closed

[2015-10-29 15:36] adnelson opened #40 "Option not to write packages which are broken"
This makes it easier to patch dependencies: we can just create the correct package and redo a fetch so that we can pick up the latest and greatest

[2015-11-23 00:24] adnelson opened #43 "Report which packages were installed"
We should show the actual versions installed for each input package, not just the version range.

[2015-11-23 00:36] adnelson opened #44 "Don't overwrite nodeLibs unless prompted"
If a developer has done some customization of their libraries, they won't want that to be stomped on.

[2015-11-23 00:37] adnelson opened #45 "Option to associate namespaced packages with their own output folder"

[2015-11-24 15:21] adnelson opened #46 "Option to use relative paths"
When importing common the nix libraries or extensions, it should be possible (perhaps even default) to use a relative path instead of an absolute path.

[2015-12-09 18:40] adnelson opened #48 "@s in paths confuse nix parser"
Nix will not parse a path like `/foo/@bar/baz` as a path. We need to convert such paths into `/. + "/foo/@bar/baz"` or `./. + "/foo/@bar/baz"` in order to get the behavior we want.

I'm not sure if `hnix` should do this, but at the very least it should not accept those paths in its `mkPath` function, unless/until nix accepts them as well.

[2015-12-11 00:32] jb55 opened #49 "Fails for packages with circular dependencies"
try: http://npmrepo.com/es6-symbol

looks like npm attempts to shim the circular dependency and it's confusing the build script?

[code]

^ my best guess

subsequent error due to unfulfilled dep:

[code]

[2016-01-06 10:12] teh opened #50 "Build fails because of missing npm3.tar.gz"
[code]

Fixed it with:

[code]

But not sure what the intention is so not sure what the actual fix should be.

[2016-01-06 10:44] teh commented on #50
My fix isn't working, it looks like the tgz has to contain a default.nix file:

[code]

There's a scripts/gen_mp3 script which I assume has to be run.

[2016-01-06 11:37] teh opened #52 "BROKEN packages aren't very user friendly"
They throw the error:

[code]

for packages like  `BROKEN-readable-stream` - not sure what to best fix but it took me a while to figure out.

[2016-01-06 12:19] teh opened #53 "@ versioning broken"
In current head I get

[code]

It looks like -p uses everything including the @ as the package name.

[2016-01-06 16:14] adnelson commented on #50
Yeah, there will be a fix for that soon. The npm3 tarball is a tarball of nix libraries needed to build npm version 3, and its creation is not (well) documented. But yeah, you need to run the `gen_npm3` script.

[2016-01-06 16:17] adnelson commented on #50
I'm thinking that I'll be changing this behavior going forward though. In the meantime, one of the simpler fixes is to just change pass in `npm3 = false` as an argument to `nodeLib` in the top-level default.nix:

[code]

[2016-01-06 16:18] adnelson commented on #53
Yeah the syntax for that is `readable-stream%>=1.0.0`. If that's misdocumented it'll need to be fixed.

[2016-01-06 16:20] adnelson commented on #52
Yeah the broken packages kinda blow. I'm going to try to come up with a better approach to this.

[2016-01-06 16:26] adnelson commented on #49
Hey, sorry this languished for so long. I kind of took a break from this due to end-of-year crunch time.

So the shims approach was inherited from the `buildNodePackage` function in `nixpkgs` (see [here](https://github.com/NixOS/nixpkgs/blob/eaf10642093ba652d536f4b8fd9ba7526c69886a/pkgs/development/web/nodejs/build-node-package.nix), or a blog post on the topic [here](http://sandervanderburg.blogs

[2016-01-06 16:38] adnelson commented on #53
Fixed the README to update the syntax. Let me know if this doesn't fix your problem.

[2016-01-06 16:38] #53 closed

[2016-01-06 16:39] #50 closed

[2016-01-25 14:23] flosse opened #55 "gen_npm3: Could not find module ‘Data.SemVer.Parser’"
running `nixfromnpm/scripts/gen_npm` ends with:

[code]

[2016-01-25 16:29] adnelson commented on #55
@flosse please let me know if this still doesn't work. :)

[2016-01-25 17:16] flosse commented on #55
Now it stops with an other failure:
[code]

[2016-01-25 18:20] adnelson commented on #55
Hmm, looks like some dependency upstream might have changed. I'll just include a tarball I've already built.

[2016-01-25 18:32] adnelson commented on #55
@flosse I put the tarball in (and incorporated a few other changes) on the branch `add_npm3_tarball`. Can you try this one?

[2016-01-25 18:59] flosse commented on #55
[code]

[2016-01-25 19:27] adnelson commented on #55
Sorry, I wasn't clear, there isn't any need to run the `gen_npm3` script now because I just put a working tarball into source control.

[2016-01-25 19:35] adnelson commented on #55
@flosse Also you'll want to `git pull` the latest master of `hnix`, since that recently got updated.

[2016-01-25 19:40] flosse commented on #55
hmm....

[code]

[2016-01-25 20:21] adnelson commented on #55
Did you pull the latest on this branch?

[2016-01-25 20:28] flosse commented on #55
now it works :) thx!

[2016-01-25 20:28] flosse commented on #55
... at least on the separate branch

[2016-01-25 20:29] adnelson commented on #55
Woohoo! Alright great. Yeah, I'll merge that branch now. Thanks for bearing with me :)

[2016-01-25 20:30] adnelson commented on #55
Also, and I just put this in the readme, but I'd recommend using the [`nix-node-packages`](https://github.com/adnelson/nix-node-packages) repo for most things.

[2016-01-25 20:30] #55 closed

[2016-02-16 14:08] gilligan opened #58 "Fails to install babel"
[code]
yields:

[code]

Can you give me any pointers on how to solve this ?

[2016-02-16 15:23] gilligan opened #59 "dependencies with git+ssh url"
In my project I have several entries like the following:
[code]

So for this I would have to use ssh keys. nix provides `fetchgitPrivate` for this usecase. How could this work with nixfromnpm ?

[2016-02-16 15:50] adnelson commented on #58
So the docs for this are not in this repo (which they should be) but [here[(https://github.com/adnelson/nix-node-packages#if-a-package-doesnt-build). Hopefully this helps. Most of the issues fetching packages have to do with my incomplete implementation of the semver spec. :(

[2016-02-16 15:54] adnelson commented on #59
So github URLs, especially private ones, are something I've done a bit of work on but are not super robust yet. What you can do is create an access token on github, and set this as the `GITHUB_TOKEN` environment variable. I don't think that I have the capability of resolving `git+ssh` urls, but if you change it to a `https://github.com` it will hopefully work.

[2016-02-17 21:40] gilligan commented on #58
@adnelson thanks for your response. I followed those instructions but somehow it did not really work out:

https://github.com/gilligan/nixfromnpm-test

[code]

The `master` branch has the versioning fixes whereas the `unfixed` branch is with the broken packages still. I did not make any changes beyond those but ran into the error above. Do you have any idea what is going on here ?

[2016-02-18 16:17] adnelson commented on #58
Hey, sorry I was out yesterday. So I'd been doing some dev on the nix library part of this project, but I'm not sure it's all merged so it might be slightly inconsistent. I'll try to take a look today and get everything back into stability...

[2016-02-18 18:05] gilligan commented on #58
@adnelson that would be so great. I was really glad to find your project because `npm2nix` is just not a viable solution. Now i really hope that I can actually pull this off with nixfromnpm ;)

so i have my fingers crossed ;)

[2016-02-18 21:00] adnelson commented on #58
No problem! Hopefully I'll be able to get this all nailed down very soon. In the meantime, if you're just trying to get a working nix expression for Babel, there's already one in the [`nix-node-packages`](https://github.com/adnelson/nix-node-packages) repo, so the quickest way would be just

[code]

[2016-02-18 21:03] gilligan commented on #58
@adnelson thanks but it's not the right version plus i am working on "nixifying" a bigger project so that is only one part of it anyway.. ;)

[2016-02-18 23:35] adnelson commented on #58
OK, so I pushed some changes that should fix this. I was able to use the `nixfromnpm` that got built to make an expression for `babel` (at version `6.5.2` but idk what you needed) which built successfully.

One of these changes was to use git submodules instead of relying on the user to check out the two repos we're depending on. This means that once you pull down the latest changes, you should ru

[2016-02-18 23:35] #58 closed

[2016-02-18 23:40] adnelson commented on #49
So I changed the shim dependency approach. Instead, now I'm just patching the `package.json` file to remove recursive dependencies. Hopefully this fixes this issue; if not, please reopen this.

[2016-02-18 23:40] #49 closed

[2016-02-18 23:59] jb55 commented on #49
sweet I'll try this again soon

[2016-02-18 23:59] adnelson commented on #35
I don't think this is really necessary right now

[2016-02-18 23:59] #35 closed

[2016-02-19 09:04] gilligan opened #61 "crashes installing react-addons-create-fragment"
I tried installing
[code]
which results in npm crashing:
[code]

The full output is available here: https://gist.github.com/gilligan/61096990ea69b99ff41c

[2016-02-19 09:12] gilligan commented on #61
Actually this works if I use `pkgs.nodejs-5_x`

[2016-02-19 09:17] gilligan opened #62 "Using npm3"
I see that `npm3` defaults to `false` in the top level `default.nix`. How can I actually use npm3 ? At first I thought I just need to set it to `true` but that is not the case I guess - i have to provide a tgz ? I am a bit confused about this ;-)

[2016-02-19 16:56] adnelson commented on #62
So I used to have it use `npm3` by default, but unfortunately some upstream dependency of npm3 is currently failing to fetch because of problems with release-tag ranges in `semver-range` (by far this is the number 1 thing I need to fix with this project right now...). To get a working copy of `npm3`, first run

[code]

(or `-p npm%3` if you want to be explicit)

This will (probably, unless the sit

[2016-02-19 16:59] adnelson commented on #61
I'm not sure what's going on here, but it looks like a package-specific issue, not a `nixfromnpm` issue. There's no realistic way to guarantee that the expressions `nixfromnpm` generates will build correctly, with all of the possible things that could go wrong. Instead, it's designed to get you at least "mostly there", at which point you can apply whatever patches are necessary to get things to wo

[2016-02-19 16:59] #61 closed

[2016-02-19 17:01] gilligan commented on #61
Right, sorry for the noise ;)

[2016-06-21 20:27] expipiplus1 opened #63 "Add to the Nix category on Hackage"
https://hackage.haskell.org/packages/#cat:Nix

[2016-07-01 14:56] adnelson commented on #63
Ah, I'll do this. Thanks

[2016-07-01 17:49] expipiplus1 commented on #63
Add `Nix` to the `category` value in the .cabal file ;-)

[2016-07-14 18:16] adnelson commented on #63
Done! Sorry this took so long :sob:

[2016-07-14 18:16] #63 closed

[2016-07-22 10:53] ollieh opened #64 "nix-shell with development dependencies from package.json"
I've run `nixfromnpm -f package.json -o ~/Projects/nix-node-packages --dev-depth 1 -r http://mylocalregistry` from `~/Projects/mynodeproject/` and it creates a `default.nix` and `project.nix`, along with adding expressions to `~/Projects/nix-node-packages`.

### Incorrect src path
Running `nix-shell` and `nix-build` work. The nix expressions for my project in `~/Projects/nix-node-packages/` have `

[2016-07-22 16:08] adnelson commented on #64
Could you maybe paste what the `default.nix` and `project.nix` look like, and what the directory structure is? I haven't worked on the shell stuff for a little while except for modifying the libraries that in the nix-node-packages repo. It might just be a matter of bringing the changes I've made back into `nixfromnpm`.

[2016-07-25 10:32] ollieh commented on #64
[code]
[code]
I have the latest checked out version of nix-node-packages, and the only files that generating my packages has changed is packages in `nodePackages/`, and upped the version in `.nixfromnpm-version` from `0.10.0` to `0.10.2`, all the `nodeLibs/` are the same as in master.

[2016-08-02 14:21] ollieh commented on #64
@adnelson Any ideas on this, particularly to do with nix-shell with development dependencies?

[2016-08-02 14:24] adnelson commented on #64
Hey Ollie sorry it's taken me a little while to look at this. I'll take a
crack at it this morning.

On Tuesday, August 2, 2016, Ollie Hunt <notifications@github.com> wrote:

--
-- Allen

[2016-08-02 19:29] #64 closed

[2016-08-02 19:34] adnelson commented on #64
@ollieh

Let me know if this doesn't work out for you. The `.env` attribute was effectively a no-op since I had removed that functionality by accident. I restored it and it should grab the dev dependencies when it constructs the local environment.

The way that `node` knows how to find the packages is via an environment variable `$NODE_PATH`. The shell constructs a temporary directory which contai

[2016-08-03 11:34] ollieh commented on #64
`.env` is working as expected now, thanks a lot! However, I'm getting circular dependencies, and they appear to be in your nix-node-packages repo. Is there a way to resolve them?
[https://github.com/adnelson/nix-node-packages/issues/26](https://github.com/adnelson/nix-node-packages/issues/26)

[2016-08-03 16:36] ollieh opened #66 "Failed to parse"
Sorry to be such a bother! I get the following error:
[code]
fs-access/1.0.0.nix
[code]
null-check/1.0.0.nix
[code]

Any idea what could be causing this? It looked to me like something to do with the hyphen, but there are plenty of other packages with hyphens in the name.

[2016-08-03 16:49] ollieh commented on #66
On second thought, could it be parsing `null` in `null-check` as the nix `null` value? I guess this is to do with hnix?

[2016-08-03 16:53] ollieh commented on #66
Changed the folder null-check to n-check, and the reference to it in fs-access/*.nix and default.nix, and it fixed it. I guess it's parsing it as null.

[2016-08-03 17:28] adnelson commented on #66
Yeah, looks like it's parsing it as `null - check_1-0-0`. This is indeed an hnix thing. Good catch. I think I ran into a similar thing with "assert" a while back which I fixed in hnix but apparently it didn't catch this one

[2016-08-03 17:33] adnelson commented on #66
On second thought it's not exactly an hnix thing, because if it's an invalid variable identifier there's not much that hnix can do about that. `nixfromnpm` itself could generate an expression that put things in quotes, for example instead of

[code]

it could generate

[code]

[2016-08-03 17:38] adnelson commented on #66
oh derp, never mind this is an hnix thing. It's not that nix is failing to parse this, it's that hnix is failing to parse it. I'll try to fix the fixturized version of hnix that I have

[2016-08-03 18:10] adnelson commented on #66
@ollieh

OK, I patched hnix to fix the parsing bug. I confirmed it worked by generating an expression `fs-access` and seeing that it works. (I also pushed fs-access to `nix-node-packages` master).

And no need to apologize for creating these issues, it's good to fix them :)

[2016-08-03 18:10] #66 closed

[2016-08-03 18:15] ollieh opened #67 "Peer dependency build error"
The good news is I'm getting much futher in building the packages. However, I'm stuck on the following error:
[code]
chai/3.5.0.nix
[code]
chai-as-promised
[code]
Any ideas?

[2016-08-03 18:25] adnelson commented on #67
Hmm, that's weird because I was able to generate a working expression for that package. I just pushed it up, so you could try pulling the latest master on `nix-node-packages`.

It's also weird that in the output you pasted it says "building path(s) ‘/nix/store/3i8mf33qzz551bb37yfdvnz1zfcbrxdq--as-promised-5.3.0-nodejs-4.3.1’". Why is `chai` missing from that path? Anyway, hopefully what I just pus

[2016-08-03 18:26] adnelson commented on #67
One thing is that the version of chai that the `chai-as-promised` that I built is using is 3.4.1 instead of 3.5.0, so that might be why.

[2016-08-04 10:43] ollieh commented on #67
Still broken for me, although it's not missing out `chai` from the path anymore. I removed chai and chai-as-promised from my package.json devDependencies and regenerated the nix files, just to see how far I could get without them, and ran into a similar issue again:

[code]

[code]

I'm wondering if it could be a node version thing, we're using 6, so I'm going to try changing the default.nix to us

[2016-08-04 12:43] ollieh commented on #67
Tried with nodejs5_x and got this:
[code]

[2016-08-04 14:16] adnelson commented on #67
I've never tried using node v5, so I can't really vouch for the likelihood of it working. It looks like the phantomjs error involves it attempting to *download* it from github, though, which is troubling:

[code]

I seem to recall a similar situation with phantomjs that I had to patch manually to get it to work...

Ah, I found it. You might want to try applying a similar patch to what I did here w

[2016-08-04 14:19] adnelson commented on #67
Also could you tell me your OS and what commit you're using for your nixpkgs? That way I can get pretty close to an exact copy of whatever you're building.

You can find it with

[code]

The last 7 characters in `16.09pre86919.52896c8` are the commit hash (52896c8 in this case).

[2016-08-04 14:23] ollieh commented on #67
`/nix/store/iqk9bxh3w7aadqbmm3gjp77q4mnvg1ri-nixpkgs-16.03.1111.f231b2b/nixpkgs`
`f231b2b`
and I'm using ubuntu 16.04 64 bit.

I'll give the phantom thing a try!

[2016-08-04 14:25] adnelson commented on #67
alright cool, I'll see if I can reproduce your error.

[2016-08-04 14:47] ollieh commented on #67
Similar build error unfortunately:
[code]

[2016-08-04 14:49] ollieh commented on #67
Actually it seems to be finding phantomjs but then downloading a newer version. I guess I need phantomjs 2.1.1 somehow.

[2016-08-04 14:52] adnelson commented on #67
Yeah that's what it looks like. I'm not sure what versions nixpkgs
currently provides.

Also, it would be a little helpful if when pasting build output you filter
it a bit to just include the problematic parts, because sifting through all
of that to find the error message is a bit like finding a needle in a
haystack 😉

On Thursday, August 4, 2016, Ollie Hunt <notifications@github.com> wrote:

--
-

[2016-08-04 14:55] ollieh commented on #67
Sorry about that! Looks like nix doesn't provide a new enough version but it looks simple enough to update. I'll give it a go and let you know if it works.

[2016-08-04 15:15] ollieh commented on #67
It works!!!! It updated the nix expression for phantomjs for a locally checked out nixpkgs repo, doing `NIX_PATH=nixpkgs=path/to/repo nix-shell -A env` and it dropped me into a nix-shell! One small problem: After `Symlinking current directory into node modules folder...` if throws an error saying it `cannot find module 'nameoftheprojectimworkingon'` (Yeah thats not the real name). Not sure if it's

[2016-08-04 15:25] adnelson commented on #67
Hooray! :tada: :cake: :fireworks:

So what you're probably seeing there is a thing in the `shellHook` where it symlinks all of the dependencies and the package source directory itself into a temporary directory, and then attempts to `require` the package (see [here](https://github.com/adnelson/nixfromnpm/blob/5163bf206c763880096f9fdc1596814796353f86/nix-libs/nodeLib/buildNodePackage.nix#L433)). If

[2016-08-05 06:53] gilligan commented on #62
Has anything happened on this front since?

[2016-08-05 06:54] #59 closed

[2016-08-05 14:43] adnelson commented on #62
@gilligan

Sorry I haven't really taken a look at this. I just generated npm3 and the error in the `requests` dependency (which requires a version of `form-data` that `semver-range` doesn't know how to satisfy) remains. Needless to say, `semver-range` has not yet been fixed, because I haven't spent time on it and still don't have a clear enough grasp of how semver handles version ranges that have

[2016-08-05 21:12] gilligan opened #68 "Error compiling nixfromnpm"
[code]

I tried a couple of things and fixed some faulty expressions on the way but I always end up with one or more ambiguity errors like the above.

[2016-08-06 17:41] adnelson commented on #68
Looks like this is a problem with an upstream Haskell dependency in a nixpkgs
update :( I'll take a look but hopefully the fix is straightforward.

On Friday, August 5, 2016, Tobias Pflug <notifications@github.com> wrote:

--
-- Allen

[2016-08-08 15:05] adnelson commented on #68
So I'm able to build successfully off of the latest channel for nixos, but when attempting to build off of the latest channel of nixpkgs, and upstream dependency fails (i.e. before it even gets to `nixfromnpm`). Can you tell me what commit of nixpkgs you're building off of? Assuming you're using a channel, you can see it by running

[code]

(replace "nixos" with "nixpkgs" if you're using nixpkgs)

[2016-08-08 19:05] #67 closed

[2016-08-08 20:19] adnelson commented on #48
fixed, yay

[2016-08-08 20:19] #48 closed

[2016-08-08 20:45] #52 closed

[2016-08-08 20:49] adnelson commented on #44
This has been done for a while, whoopsie

[2016-08-08 20:49] #44 closed

[2016-08-08 20:50] adnelson commented on #46
I'm gonna let this one go b/c it seems unlikely it's worth the effort

[2016-08-08 20:50] #46 closed

[2016-09-01 01:03] #68 closed

[2016-09-06 06:00] adnelson commented on #62
OK with the latest changes this should be able to be closed. I successfully generated a nix expression for the latest npm, and it built. 👻 👍

[2016-09-06 06:00] #62 closed

[2016-09-06 08:17] gilligan commented on #62
Great! :+1:

[2016-09-07 07:16] gilligan opened #73 "dev-depth for package.json parsing"
From reading the documentation the behaviour of `--dev-depth 1` is unclear to me when used in combination with parsing a `package.json` file. I would say the desired behaviour should be that it installs all `dependencies` and `devDependencies` listed in the `package.json` - is that actually the case?

[2016-09-07 07:27] gilligan opened #74 "Resolving github URLs"
Both of the following are valid URL specifiers for npm but only the latter can be parsed by nixfromnpm:

[code]

[code]

[2016-09-07 20:07] #74 closed

[2016-09-07 20:09] adnelson commented on #74
Thanks for letting me know; this should be fixed now. Git fetching is still a bit of a hairy ugly beast but fixing this did give me the opportunity to improve the situation a little.

[2017-08-31 20:00] ixmatus opened #78 "Generated nodeLib does not include necessary tools directory"
I'm trying to use `nixfromnpm` (the latest git revision) but I'm running into a problem: the `tools` directory found inside the `nodeLib` of this repository is not being included in the generated `nodeLib` dir.

[2017-08-31 20:15] adnelson commented on #78
Ah, I think the bug is here: https://github.com/adnelson/nixfromnpm/blob/master/src/NixFromNpm/Conversion/ToDisk.hs#L184

I'll try to take a stab at this today or tomorrow.

[2017-08-31 20:22] ixmatus commented on #78
Yes, that is what I concluded too. I will have a PR up shortly with a proposal for a fix.

[2017-08-31 20:23] adnelson commented on #78
That would be great!

[2017-08-31 20:58] ixmatus opened #80 "Test and executable sections in nixfromnpm.cabal do not depend on the nixfromnpm library"
This isn't _bad_ but it is inefficient because source files are compiled for the library section, the executable section, and the test section.

If the executable section and the test section both referenced `nixfromnpm` in their `build-depends` then they wouldn't need to build `src`. This also means many of the `build-depends` deps can be dropped from those two sections as well.

[2017-09-01 17:45] ixmatus opened #81 "skipOptionalDependencies doesn't appear to do anything?"
Building `chokidar` on Linux fails because `fsevents` is Darwin only. Adding `fsevents` to the `skipOptionalDependencies` doesn't change the behavior at all. Furthermore the code doesn't do anything with that binding except remove it from the final attribute set.

Am I misunderstanding how `skipOptionalDependencies` is intended to be used?

[2017-09-01 17:53] adnelson commented on #81
Looking at the nix definition, this option doesn't do anything. It probably did at one point. I can take a look at it.

[2017-09-01 18:06] ixmatus opened #82 "`overrideNodePackage` could be more flexible if it took a function that takes the original argument set"
In some cases, the user will want to produce a new invocation of `buildNodePackage` with arguments overridden and `overrideNodePackage` makes this possible. However, in some cases a user may wish to know what the original generated argument set was. The most common reason why a user would want to know this is to amend one of the arguments, without access to the original arguments it is very diffic

[2017-09-01 18:06] adnelson commented on #80
I think I set it up that way so that when I'm iterating on tests, I could hit `:r` in the repl and it would reload the library code as well as the test code. There's probably a better way to do accomplish this.

[2017-09-01 18:10] ixmatus commented on #81
I should add that when I build with `node-4_x` it seems to skip without being told to. If I build with `node-6_x` it throws a hissy fit.

[2017-09-01 18:11] ixmatus commented on #81
Also, I'm very happy to help tweak this if there's more context about how it was intended or used to work that you can knowledge-share here. :smile:

[2017-09-01 18:22] #78 closed

[2017-09-01 18:27] #82 closed

[2017-09-27 20:45] ixmatus opened #85 "Dependencies of a project with a name led by an integer is an invalid attribute name unless surrounded by double quotes"
I recently encountered this for a package that depends on the `7zip` npm package. Surrounding the Nix attribute name in quotes solved the evaluation errors, e.g.

[code]

An easy fix would probably be to surround all of the attributes with double quotes. Though this also means the use-sites where the 7zip package is given as a build input must also be changed to select the attribute from the set w

[2017-09-27 20:49] ixmatus opened #86 "Use trick from node2nix to filter out 'Ignoring unknown extended header keyword' noise'"
Specifically, it's this custom tar wrapper:

[code]

... that can be used to hush these types of log messages:

[code]

[2017-09-27 21:05] adnelson commented on #85
I encountered this and [fixed it](https://github.com/adnelson/nixfromnpm/commit/5c9c548e5a5ab10a1e6428379af5f28ef4e8ffcd) a little while ago; are you sure it's still broken on master?

[2017-09-27 21:06] adnelson commented on #86
hah that's awesome. happy to use that; I hate all those error messages. Want to PR?

[2017-09-27 21:13] ixmatus commented on #85
Oh, yes, I'm definitely on an old version.

[2017-09-27 21:13] #85 closed

[2017-09-27 21:15] ixmatus commented on #86
Yeah sure, I was building `wire-desktop` with nixfromnpm and encountered them and had the thought but won't be able to get to a PR till this weekend, so if you have free time for it, go for it :) I just wanted to capture the thought while it occurred to me.

[2017-09-27 21:25] adnelson commented on #86
do you have an example of where that gets used? does it just become a `buildInput` or what

[2018-01-08 19:45] ns-gbernsleone opened #87 "Don't use release candidate or beta versions unless explicitly requested"
`-rc` and `-beta` versions are prioritized over stable versions, which doesn't seem like the behavior most users expect. It would probably be better to alter the priority so that only happens if a flag is set.

[2018-02-14 06:00] adnelson opened #89 "Use `@` instead of `%` when specifying version range"
The reason not to use `@` was because this character can also appear as an indicator of a namespace. However this is not a difficult case to distinguish, and it's just kind of weird and inconsistent to have a `%` syntax.

[2018-02-14 06:02] adnelson opened #90 "Update to node v6 (or v8?) by default"
Right now it defaults to node 4, which is pretty old at this point.

[2018-02-14 06:03] adnelson opened #91 "Use a more robust logging library with levels"
How we do logging now is kind of derpy.

[2018-02-14 06:04] adnelson opened #92 "Local package default.nix file should add an `includeDevDependencies` when using nix-shell"

[2018-02-14 17:09] ixmatus commented on #86
I have a PR coming that implements this.

[2018-02-14 17:51] #90 closed

[2018-02-14 17:51] #86 closed

[2018-02-16 21:06] adnelson opened #100 "Integration tests and CI"
We should be running some CI to make sure master stays healthy

[2018-02-17 03:36] ixmatus opened #103 "A circular dependency is detected when there actually is none"
The generated package for `webpack-3.11.0` had `uglifyjs-webpack-plugin_0-4-6` in its circular dependencies list (and `uglifyjs-webpack-plugin_0-4-6` had webpack in its _peer dependencies_) but the `circularClosure` function didn't find the cycle in the depset which means there isn't actually a circular dependency.

#102 addresses a nix-build failure due to this issue but the root cause is in the

[2018-02-17 03:41] ixmatus commented on #87
Furthermore, it breaks most packages because if `^` or `~` are used in a dep constraint and a package is given whose semantic version would match the constraint but has an attribute part (e.g. a `-rc` or `-0` or `-candidate`) npm will reject it.

I believe this issue is more appropriate for the `semver` package, though. Since it should know to reject npm packages with hyphenated parts in the versi

[2018-02-17 04:05] ixmatus commented on #87
More specifically:

[2018-02-18 06:00] #87 closed

[2018-02-18 18:58] adnelson commented on #100
somewhat rudimentary but good enough to close this one

[2018-02-18 18:58] #100 closed

[2018-02-18 19:02] adnelson opened #105 "nixfromnpm is compiled multiple times during build"
Presumably due to the way the cabal file is built, `nixfromnpm` code is compiled several times, resulting in unnecessarily long build times.

[code]

Presumably this would just involve restructuring the cabal file, but I'm not sure the best way to do it.

[2018-02-18 19:52] ixmatus commented on #105
I think this ticket is technically a duplicate of #80 which documents the root cause of what this ticket describes.

The solution is to make `nixfromnpm` a library which is then also provided in the build-depends sections for the executable and test.

An example of doing this can be found in the `hocker` project. For instance we define a `library` section that contains the majority of the generic

[2018-02-18 20:00] ixmatus commented on #105
I think it would be less controversial at this point to do that refactoring work though.

However, if I were to prioritize this work, I'd say that it is actually less important than a few other refactoring needs which have a material impact on the usability of the resulting code generation product.

Notably, I think we need to make a backwards breaking refactor to the way that we import and call i

[2018-02-18 20:01] adnelson commented on #105
As an initial pass, I don't think it needs to be a large refactor -- the PR that I just made speeds up the build and thus solves at least the surface level problem. I agree it's not the most important issue, but having faster iteration times is pretty nice.

[2018-02-18 20:10] ixmatus commented on #105
Yeah for some reason when I tried doing that I think I started following the interface exports and it seemed hairier at the time than your existing PR makes it seem. Maybe I'm mis-remembering something. Either way good to see it was such a quick change!

I agree that faster iteration time is a good thing.

[2018-02-18 20:12] adnelson commented on #105
When I first tried it, I got a bunch of errors about missing symbols that looked super gnarly. I realized that was just because I wasn't listing the packages in the `other-modules` section. Which to me seems like a really basic piece of functionality missing from cabal, but that fixed that.

[2018-02-18 20:14] #105 closed

[2018-02-18 22:17] #80 closed

[2018-02-18 23:01] #89 closed

[2018-02-19 19:14] adnelson commented on #103
So as it stands now, webpack depends (non-peer) on uglify, and uglify depends (peer) on webpack. To the extent that I understand peer dependencies, I believe the intention is to indicate that that version of uglify is meant to work alongside that version of webpack, but not necessarily that it depends on it in the normal sense. Maybe then the issue is not about the circularity, but about how peer

[2018-02-19 19:15] adnelson commented on #103
This would of course require changing how the resolution logic works, as well as `buildNodePackages`.

[2018-02-19 19:18] adnelson commented on #81
I think we can close this guy now. Feel free to reopen if needed

[2018-02-19 19:18] #81 closed

[2018-02-19 20:07] ixmatus commented on #103
Or, perhaps the solution is instead to make sure that packages listing another package as a peer dep are found by `circularClosure`.

I actually think the way that this has been built is correct and there's just a bug to deal with, which is that the uglify webpack plugin doesn't have `webpack` in its circular dependencies list. Which means it will never be found when `circularClosure` is run on `w

[2018-02-19 20:08] ixmatus commented on #103
Here is some useful information from `package.json` documentation:

https://docs.npmjs.com/files/package.json#peerdependencies

[2018-02-19 20:10] adnelson commented on #103
Ah, interesting. Well, maybe we can just ignore them then and let the warning/error logic handle things (since the default NPM version now uses npm3). This could potentially break existing packages though.

[2018-02-19 20:12] ixmatus commented on #103
IOW, I think it is _correct_ that we have detected a circular dependency. I just think we need to fix whatever issue is causing Package B to not include Package A in its own circularDependencies list even though it is in its peerDependencies list... You understand the circular dependencies solution better than I do, so what is your intuition on that?

[2018-02-19 20:14] adnelson commented on #103
Well, what I was thinking is that we can just not attempt to resolve peer dependencies at all. Just leave them as-is, and depend on the user to satisfy them if their packages need them. Basically removing [this line](https://github.com/adnelson/nixfromnpm/blob/d3cfd4adfd3e5b58ed65bc3688adf24ea2b4f116/src/NixFromNpm/Npm/Resolve.hs#L681) and the related code.

[2018-02-19 20:16] adnelson commented on #103
Also either remove or change handling of peer dependencies in `buildNodePackage` (e.g [this](https://github.com/adnelson/nixfromnpm/blob/d3cfd4adfd3e5b58ed65bc3688adf24ea2b4f116/nix-libs/nodeLib/buildNodePackage.nix#L344))

[2018-02-19 20:17] ixmatus commented on #103
Oh...I see what you're saying because peer dependencies are really just expressing an ambient environment constraint. Which, technically, we don't have this problem since we're building with Nix and can isolate package sets really easily.

Yes. I like your suggestion.

[2018-02-19 20:18] adnelson commented on #103
Cool. Do you want to tackle it or should I?

[2018-02-19 20:19] ixmatus commented on #103
I think you should, this was your suggested fix! I'm around to review.

[2018-02-21 04:36] adnelson opened #113 "Consider using yarn instead of npm"
I've been consistently frustrated by npm since the beginning of this project due to its obtuse operation, lack of offline support and mysterious failure conditions. Yarn is in my experience much better. It has a `--offline` flag which is pretty nice. It's meant to build from a cache and be as fast as possible. Perhaps most importantly it has reasonably decent error reporting when it fails.

I'm no

[2018-02-21 13:29] ixmatus commented on #113
I think this is a good idea and was thinking it last night. I've used the yarn2nix project in the past and my experience with it was:

- yarn is much better suited for use with nix
- generating a package set from the yarn.lock file is far more reliable than the package.json
- yarn2nix had immature nix build features compared to this project

Ultimately, I could build a large, non-trivial node proj

[2018-02-21 14:55] ixmatus opened #114 "nodejs-8_x tries to hit the registry when building webpack"
Note that this package builds just fine with nodejs-6_x.

To reproduce:

[code]

[2018-02-21 14:59] adnelson commented on #114
Interesting, it’s trying to get es5-ext, I guess that’s the problem. Does
the build succeed when using node 6?

On Wed, Feb 21, 2018 at 08:55 Parnell Springmeyer <notifications@github.com>
wrote:

[2018-02-21 15:01] ixmatus commented on #114
Yes it does. I think I have this problem with the babel packages and `node-8_x` too.

[2018-02-21 15:04] adnelson commented on #114
Hmm, well I’m not sure if it’s best to switch to node6 for the default
version; of course it can be changed by the user.

Alternatively if something funky is going on with npm specifically then
there might be another reason to use yarn

On Wed, Feb 21, 2018 at 09:01 Parnell Springmeyer <notifications@github.com>
wrote:

[2018-02-21 15:09] ixmatus commented on #114
@adnelson oh yeah, I agree, we shouldn't change the default nodejs version. I think nodejs is behaving different with respect to what it considers a cached npm package or not.

I agree, IMHO the way forward is likely with yarn and not `npm` since it supports an `--offline` flag. I just wanted to create an issue ticket to track this since someone else might also run into it.

[2018-02-21 18:07] adnelson commented on #113
So I spent a little time on this today, and was somewhat disappointed. I couldn't figure out how to construct a faux yarn cache directory which yarn would discover packages in, which seems to be the only way to get yarn to use the `--offline` option, as even if a dependency is satisfied in `node_modules` it will still look in its cache directory. Not sure if there's a combination of options which

[2018-02-22 21:25] adnelson commented on #113
Closing for now in light of #115

[2018-02-22 21:25] #113 closed

[2018-02-22 21:26] adnelson commented on #114
Closing this as well due to #115 being merged. Reopen if necessary.

[2018-02-22 21:26] #114 closed

[2018-02-22 21:27] adnelson commented on #103
Fixed by #112

[2018-02-22 21:27] #103 closed

[2018-02-22 21:28] adnelson commented on #92
Realized this is why the .env attribute exists...

[2018-02-22 21:28] #92 closed

[2018-02-23 16:22] ixmatus opened #116 "Release to hackage"
@adnelson I know `nixfromnpm` is still pre-`1.0.0` release and there's more improvements you want to make to the project but I think it is mature enough at this point that you can release it to hackage.

Feel free to close this ticket as won't do, I'm not trying to pressure a release or anything, I just think it's useful and I'm trying to be encouraging :)

[2018-02-23 16:25] ixmatus commented on #73
@gilligan it shouldn't "install" them because they are usually build-time dependencies but if you want the dev dependencies installed you can override the package and set:

[code]

I'm going to close this ticket as I think that takes care of this concern. If I've misinterpreted the issue though, please reopen this.

[2018-02-23 16:25] #73 closed

[2018-02-23 16:31] ixmatus opened #117 "Refactor nodeLibs/default.nix to be more callPackage friendly"
The `nodeLibs/default.nix` can be refactored such that it can be `callPackage`'ed and the generated `nodePackage` set be the direct result of doing so; meaning, we can remove the `makeOverridable` on the `generatePackages` function because `callPackage` will do that for us.

This also entails moving the arguments for `overrides` and other things out to the top intake arguments that `callPackage` w

[2018-02-23 16:39] adnelson commented on #116
Definitely could cut a 1.0 soon. I think we probably want a little more robust coverage in the CI test cases, but we're basically there.

[2018-02-23 16:40] adnelson opened #118 "CI Test for package with circular dependencies"

[2018-02-23 16:41] adnelson opened #119 "CI Test for package built locally"
I.e. using the `-f` flag pointing at a package.json (or folder containing a package.json)

[2018-02-23 16:42] adnelson opened #120 "CI test for extensions (is now: remove extensions feature)"
Test the `-e` option

[2018-02-23 16:45] adnelson opened #121 "Test various types of package version bounds"
- [ ] Version ranges
- [ ] Particular versions
- [ ] From git
  - [ ] Github
  - [ ] Bitbucket
- [ ] From files
- [ ] Failure cases

[2018-02-23 16:45] ixmatus commented on #116
Cool, I'll have some free time to devise some CI tests that verify the package overriding behavior is well-behaved too (like, overriding `chokidar` to remove `fsevents`, etc.)

[2018-02-23 16:46] adnelson commented on #116
Added issues to track some of the CI tests that I think we need. Feel free to add others.

[2018-02-23 16:46] ixmatus commented on #119
Good one. This is currently how we use `nixfromnpm`.

[2018-02-23 16:47] ixmatus commented on #120
I think if we want to release a `1.0.0` soon we should get in #117 which would be a backwards breaking change _and_ remove the extensions feature (thereby removing the need to exercise it with CI).

What do you think about doing that? I have some free-time I can commit to that work.

[2018-02-23 16:52] ixmatus opened #122 "fsevents on darwin fails to build the gyp bindings"
This _might be_ related to the work in #115; we saw gyp binding failures but were not concerned about it and weren't convinced the failures were caused by #115. This ticket tracks the issue with a specific and concrete package so we can fix it if it becomes a blocking issue for any users.

[2018-02-23 16:56] adnelson commented on #120
I guess I'm OK with removing extensions. I'm not sure anyone uses it, and it's currently broken anyway. It is a useful thing though, distinct from what's laid out in #117 because `nixfromnpm` has logic to discover packages in the initial package set so that they don't need to be duplicated in the extension set. It also enables one to reuse to a package definition which might have been fixed by han

[2018-02-23 16:59] adnelson commented on #122
Curious if this works on linux.

[2018-02-23 17:46] adnelson opened #124 "Use the `os` key in a package.json to fill in the `meta.platforms` key in the derivation"
Looks like there's a somewhat straightforward correspondence between these two keys (when specified)

[2018-02-23 18:00] adnelson commented on #122
I just noticed something, the build of `1.1.3` (and other versions I've seen) fails with:

[code]

Looking at the package.json, I'm seeing this section:

[code]

It's probably not a coincidence that `module_name` appears here. Maybe there's some information we're supposed to be passing to `gyp`?

Still weird that it worked on linux though.

[2018-02-25 20:31] adnelson commented on #124
Implemented in #125

[2018-02-25 20:31] #124 closed

[2018-02-26 16:59] ixmatus commented on #124
Thank you so much for tackling this!

[2018-02-26 18:48] adnelson commented on #120
Fixed in #126

[2018-02-26 18:48] #120 closed

[2018-03-20 15:16] #122 closed

[2018-04-17 16:50] therealpxc opened #130 "Doesn't build on NixOS/Nixpkgs 18.03 (GHC 8.2.2)"
 nix-env --install --attr nixfromnpm --file ./release.nix --arg nixpkgs '<nixpkgs>'                                        51.6s  Tue Apr 17 09:48:32 2018
    installing 'nixfromnpm-0.13.0'
    these derivations will be built:
      /nix/store/4v8gzs4bj2js4l1xh9sh51hwg2vwizxd-nixfromnpm-0.13.0.drv
    building '/nix/store/4v8gzs4bj2js4l1xh9sh51hwg2vwizxd-nixfromnpm-0.13.0.drv'...
    setupCompil

[2018-04-17 22:17] therealpxc commented on #130
Wow! Thanks very much for the prompt fix.

[2018-05-10 15:34] ixmatus opened #132 ""Argument list too long" error occurs when building a package with a large dependency set"
Upstream unsets only `NODE_PATH`:

https://github.com/adnelson/nixfromnpm/blob/b89beeaf6e8c59f6a74633ab77f233b50d2654de/nix-libs/nodeLib/buildNodePackage.nix#L446

... but not `NIX_LDFLAGS`.

With a large number of deps, these env vars (`NODE_PATH` _and_ `NIX_LDFLAGS`) can grow quite large (>128k), such that leaving them exported and attempting to invoke shell commands can lead to misleading "Argu

[2018-05-10 23:06] adnelson commented on #132
To be honest I’ve never used passAsFile and am not sure what would be needed to get that to work. Do you think you could make a PR? In any case it might be good to have a test case for this (although it might by necessity take a long time to run).

[2018-05-18 18:34] ixmatus opened #134 "Unpacking scoped circular dependencies into a package's node_modules fails to create the correct directory tree in node_modules"
Scoped packages contain a forward slash in their name, logic in the configure phase of `buildNodePackage.nix` does not correctly handle this case when unpacking scoped circular dependencies into the `node_modules` of a package.

We get the following error building `@webassembly/wast-printer` because the configure phase that unpacks its scoped circular dependencies does not create full directory tr

[2018-05-18 18:34] ixmatus commented on #134
I have a fix coming shortly for this that we have tested in production.

[2018-05-18 22:18] #134 closed

[2018-05-26 19:39] davidtwco commented on #49
@adnelson I've just ran into the same thing with the latest version of this repository when trying to install `gulp-cli`:

[code]

[2018-05-27 21:31] dksim opened #137 "Install error"
I get the following error when trying to install (using NixOS 18.03)

[2018-06-05 15:46] adnelson commented on #137
@dksim Sorry to be slow to respond -- can you be a little clearer which command(s) you're running that cause this error?

[2018-06-05 21:57] dksim commented on #137
The following command causes the error
`nix-env --install --attr nixfromnpm --file ./release.nix`

[2018-06-05 22:07] ixmatus commented on #137
@adnelson #133 fixes @dksim's issue.

[2018-06-06 12:39] ixmatus commented on #137
Fixed by #133.

[2018-06-06 12:39] #137 closed

[2018-06-24 18:23] srghma opened #138 ""Error in $: expected string, encountered Object" when trying to parse deep-diff package"
full output https://pastebin.com/FFNgt1Fm
output that is highlighted with red https://pastebin.com/9LtWhyQC

commit with this issue https://github.com/srghma/my-create-react-app/tree/17ffe59d472c2d7b9647c36c57b38a45023e67f7

nixfromnpm is installed with https://github.com/srghma/dotfiles/blob/c4e30e02e59bf087b7129573c1cf63af479883f6/nixos/pkgs/nixfromnpm/default.nix#L4

how to reproduce:

`nixfrom

[2018-06-25 18:30] srghma commented on #138
@adnelson hi, can you please suggest what should be fixed here, maybe I could even help)

[2018-06-25 18:42] ixmatus commented on #138
@srghma it sounds like the `deep-diff` package's `package.json` does not conform to valid JSON:

[code]

... have you tried extracting the `package.json` from the exact version `nixfromnpm` resolves and hand-inspecting it?

I have encountered at least two packages with this type of issue and I had to override the package and apply a patch to the `package.json`.

[2018-06-25 18:44] ixmatus commented on #138
e.g. I've had to do something like this:

[code]

[2018-06-25 18:47] srghma commented on #138
@ixmatus tnx, just wanted to ask for example ) I'll look at weekends)

[2018-06-25 18:54] adnelson commented on #138
So I think there are a few issues here:

1. If `npm` is able to parse the JSON, then we probably should too, unless this is a truly pathological case. I don't know if this means using a more permissive parser than Aeson, but there are other options.
2. In this kind of situation we should definitely not be returning a successful exit code. It's been a long-standing gripe of mine. Admittedly there's

[2018-06-25 19:04] srghma commented on #138
@adnelson hi, so you will look why this is happening, tnx

what about issue that @ixmatus described, why nixfromnpm should check whether `main` field of package.json link to existing file?

[2018-06-25 19:07] adnelson commented on #138
I don't *think* (although I'm not sure) that that is the same issue as what we're seeing here. What looks like is happening right now, is that it's trying to parse the JSON that the NPM server is giving as a response to "give me all of the versions of `deep-diff` that you have", and the parser can't understand the JSON structure that's being sent. So, it can't generate a definition of the package

[2018-06-25 19:27] adnelson opened #140 "Return non-zero exit status when an upstream package fails to build"
Born out of #138, but also related to #40 and #43. Currently `nixfromnpm` will continue to build as many packages as possible, and when an upstream package fails to build, it will log it, but still return `0` on exit. A `0` exit status should indicate that no errors were encountered, which is important for e.g. unix piping.

[2018-06-25 19:35] srghma commented on #138
@adnelson tnx for the fix !!

re `dont check that main field of package.json links to existing file`:
1. sorry for asking this here, I should have created the different issue
1. I thought it would be tedious to write patch each time nixfromnpm encounters the issue like this just to appease nixfromnpm (because npm doesnt chech things like this), but I think nixfromnpm does right job: `main` is one

[2018-06-25 19:47] ixmatus commented on #138
@srghma looks like I created confusion with my comments. I was trying to provide an example of a `package.json` that was misbehaving for me and how I overrode it, I did not think it was specifically related to your issue. Further proven by @adnelson's PR #139.

@srghma `main` only matters when you need to have an entrypoint, for libraries it doesn't really matter and in the `mold-source-map` case

[2018-06-25 20:01] #138 closed

[2018-07-01 17:44] srghma opened #141 "Warning: expression at path FilePath .... failed to parse:"
Getting this error/warning on https://github.com/srghma/my-create-react-app/tree/nixfromnpm branch

commit https://github.com/srghma/my-create-react-app/commit/777074e4df2f4d6be491cedfc5e1898ee3bc4f23

[code]

[2018-07-01 18:16] srghma commented on #141
The file seems like valid, at least it evaluates, though I'm getting error on build, that gitlab is not accessible

[code]

[2018-07-01 18:42] ixmatus commented on #141
I think the version of the `hnix` parser fails to parse the `true-case-path_1-0-2` binding because of the `true` part (I noticed this because Github's syntax highlighter for Nix makes the same mistake!)

This may mean we only need to upgrade `hnix` which John has improved a lot, lately.

[2018-07-01 18:50] ixmatus commented on #141
Note that the undefined variable error likely occurred because of the parser failure; your second issue relating to the ENOTFOUND error I don't think relates to the parser issue.

@srghma can you please create a separate issue ticket documenting the ENTOFOUND github and node-gyp errors? I think we should separate the two problems.

[2018-07-01 18:52] srghma opened #142 "Cannot download .... getaddrinfo ENOTFOUND github.com github.com:443"
From this issue https://github.com/adnelson/nixfromnpm/issues/141

[code]

[2018-07-01 18:52] srghma commented on #142
Though I can download https://github.com/sass/node-sass/releases/download/v4.9.0/linux-x64-48_binding.node from browser

[2018-07-01 18:53] srghma commented on #141
@ixmatus done)

[2018-07-02 21:09] srghma commented on #141
@ixmatus the fix you have mentioned (update hnix) worked indeed

for example, building nixpkgs with hnix version 0.4.0 fixes this issue

[code]

[2018-07-02 21:09] srghma commented on #141
made a pr

[2018-07-03 18:32] adnelson commented on #142
Haven't digged in but from the output you pasted it looks like the install step for this package executes a script `scripts/install.js` which is doing some kind of fetching from the internet, which is disallowed during a nix build (assuming you have sandboxing enabled). This kind of thing is unfortunately pretty much only solvable by modifying the autogenerated definition of the package, adding a

[2018-07-03 18:36] srghma commented on #142
@adnelson I think we can close this issue since it only reproducible in `nix repl`

[2018-07-03 18:38] #141 closed

[2018-07-03 19:13] srghma opened #144 "improve version checker: Failed to generate expressions for 1 downstream dependencies css-select@>=1.3.0-rc0 <1.4.0"
When I do ... I have an error

[code]

But following readme https://github.com/adnelson/nixfromnpm#troubleshooting-a-package-that-doesnt-build I can build package

[code]

How to prevent this?

[2018-07-03 19:18] srghma commented on #144
How to reproduce the issue

[code]

[2018-07-03 19:40] ixmatus commented on #144
@srghma a bug may exist, the semver rules don't have a very good specification sadly. However, it looks like `css-select` only has `1.3.0-rc0` and then `2.0.0` releases; so you can specify `==1.3.0-rc0` instead of a range.

Can you move this ticket to https://github.com/adnelson/semver-range?

[2018-07-03 19:46] srghma commented on #144
@ixmatus I cant specify `==1.3.0-rc0` range since its dependency of another package

[2018-07-03 19:48] ixmatus commented on #144
@srghma you can override that package pretty easily.

[2018-07-04 06:49] srghma commented on #144
I can, I can also copy output of `nixfromnpm -o /tmp/nix-test -p 'css-select@1.3.0-rc0'` to packages list, but it's one time solution

[2018-10-22 22:10] paulyoung opened #145 "--no-default-nix still overwrites default.nix"
When running the following command.

[code]

[2018-10-22 22:37] paulyoung opened #147 "Dev dependencies missing from node_modules"
I generated nix expressions with the following command:

[code]

Despite dev dependencies appearing in `./nixfromnpm/nodePackages/default.nix`, they are missing from the `node_modules` directory when I build using the generated `default.nix` file.

How can I make sure they are present in `node_modules`?

[2018-10-22 23:15] paulyoung commented on #147
I think the answer probably lies in `skipDevDependencyCleanup = true;` as suggested in https://github.com/adnelson/nixfromnpm/issues/73#issuecomment-368059268, but I'm not sure where to do that just yet.

[2018-10-23 00:02] paulyoung commented on #147
I cloned the project and pointed to my local copy. After doing some sensible things to make sure dev dependency cleanup is skipped I still can't find dev dependencies in `node_modules`.

[2018-10-23 03:46] paulyoung opened #148 "npm prepare script"
I think the root cause of an issue I'm seeing is that the `prepare` [script](https://docs.npmjs.com/misc/scripts) of some of my package dependencies aren't run.

[2018-11-29 10:14] shmish111 commented on #142
I am having the same issue with nix-build on a nixos machine. Strangely it was working on a similar machine yesterday.

[2018-12-07 03:02] paulyoung commented on #147
@adnelson @ixmatus any suggestions?

[2018-12-07 03:06] ixmatus commented on #147
Are you sure they are not in the `node_modules`? `nixfromnpm` constructs a hierarchical `node_modules` so it could be that the dev dependencies are in the package's `node_modules` that depends on them. If it is at the top-level I would expect to see it at the top-level (at least we do for our usage of it with Awake's front-end javascript application).

Is this a package you can share the source to

[2018-12-07 03:20] paulyoung commented on #147
My `package.json` looks like this:

[code]

With the above, there's only a `borc` directory, no `.bin` directory so things like `. ${nodeModules}/.bin/webpack-dev-server` fail.

I'm currently doing this as a workaround:

[code]

[2018-12-08 00:06] ixmatus commented on #147
@paulyoung I will try to reproduce with this over the weekend.

[2018-12-11 14:13] ixmatus commented on #147
I don't usually use the `nix-node-packages`. I didn't have a chance over the weekend (I got sick...) but may have some time tonight or tomorrow night to try and reproduce and help out.

[2018-12-11 22:51] paulyoung commented on #147
@ixmatus what do you normally do?

I'm following the process in the README but `terser-webpack-plugin` (the package triggering the issue mentioned in https://github.com/adnelson/nix-node-packages/issues/40) isn't actually in the `nix-node-packages`

[2018-12-13 17:14] ixmatus commented on #147
@paulyoung I just don't use them. I override packages as I need to. I tried to reproduce with your `package.json` but ran into an issue that might be orthogonal to this one:

[code]

I'll be poking at this one throughout the day.

[2018-12-13 22:38] ixmatus commented on #147
@paulyoung hilariously, unrelated to your example project, I ran into an issue with `terser-webpack-plugin` on our own software. The issue is that it specifies an empty `bin` (why?) the solution I've implemented for Awake is to override the derivation is clobber the package's package.json with one in which the `bin` key is removed.

[2018-12-13 22:39] paulyoung commented on #147
@ixmatus any advice on how to do this is appreciated. Perhaps we could update the README?

[2018-12-13 22:39] ixmatus commented on #147
A fix (which I will put a PR out for soon) for this would be to ignore empty `bin` strings.

[2018-12-13 22:40] ixmatus commented on #147
@paulyoung I can provide an example here. Overriding the derivations is pretty straight-forward and follows standard Nix derivation override idioms. Examples would be useful in the README though so I will see about creating a separate PR for that.

[2018-12-13 22:41] paulyoung commented on #147
Yes, I was planning to do this but haven't looked into much. As mentioned in https://github.com/adnelson/nix-node-packages/issues/40, I think the intention is to do that already.

I still think the fix would need to be made to `nix-node-packages` though, right?

[2018-12-13 22:46] ixmatus commented on #147
@paulyoung here is a minimal working example of what we do, the following Nix expression is found in a file named `<my-package>/default.nix` and the directory `<my-package>` contains a directory `nodePackages` which was generated by `nixfromnpm` (i.e. `nixfromnpm -f my-package.json -o my-package/nodePackages`):

[code]

... note that we had to "clobberPackageJSON" for the following packages:

- `f

[2018-12-13 22:46] paulyoung commented on #147
FWIW I think I'm familiar enough with overriding fields in nix attribute sets and derivations but perhaps a bit confused since I followed the README and used `nix-node-packages`.

[2018-12-13 22:48] paulyoung commented on #147
Super helpful, thanks!

[2018-12-13 22:48] paulyoung commented on #147
Still going to keep this issue open since it's actually about missing dev dependencies 😄

[2018-12-13 22:50] ixmatus commented on #147
And `terser-webpack-plugin_1-1-0.json` is the package.json for that package _minus_ the `"bin": "",` line, it's the full file but the diff of the file looks like this:

[code]

[2018-12-13 22:51] ixmatus commented on #147
Yes leave this open, I still have not reproduced your original issue description.

[2018-12-18 15:35] ixmatus commented on #147
@paulyoung I was going to the package's github project and the tagged version, then  copying the package.json and pretty printing it in Emacs before writing it.

[2018-12-20 11:52] paulyoung commented on #147
I must be doing something wrong since patching that way seems to have no effect.

[2018-12-20 12:17] paulyoung commented on #147
I'm doing this:

[code]

[2019-03-06 19:28] paulyoung commented on #147
@ixmatus I know it's been a while but were you able to reproduce the issue?

[2019-03-06 22:34] paulyoung commented on #147
And to answer your previous questions, the docs say this:

https://github.com/adnelson/nixfromnpm/blob/aca28773b23512fded6d53a9cfdd6816387239b2/nix-libs/nodeLib/buildNodePackage.nix#L550-L559

[2019-03-06 22:47] paulyoung commented on #147
I think the issues with `patches` is this:

https://github.com/adnelson/nixfromnpm/blob/76775d22d743c5908b65e25574156dd624baf489/nix-libs/nodeLib/buildNodePackage.nix#L424-L437

[2019-03-07 00:11] adnelson commented on #147
@paulyoung sorry I've been inactive on this, but how about using `postPatch` as in this example? https://github.com/adnelson/nix-node-packages/blob/master/nodePackages/detect-character-encoding/0.2.1.nix

[2019-03-07 00:15] adnelson commented on #148
This file would (I believe) be the one to either modify or duplicate to support additional hook behaviors: https://github.com/adnelson/nixfromnpm/blob/master/nix-libs/nodeLib/tools/execute-install-scripts

[2019-03-12 01:28] paulyoung commented on #147
@adnelson I used `patchPhase` (as in @ixmatus' `clobberPackageJSON` example) except to accept a `.patch` file that I apply manually instead.

The real issue here is the one relating to missing dev dependencies.

[2019-03-12 04:55] paulyoung opened #151 "macOS Mojave support?"
As mentioned in https://github.com/adnelson/nixfromnpm/pull/146#issuecomment-471812139, I upgraded to macOS Mojave and started seeing the following error:

[code]

After resolving that in general, I was still seeing it when trying to start a `nix-shell` with `nixfromnpm`:

[code]

I realized that for nixfromnpm, I was still using the pinned version of nixpkgs that had the issue. I changed that to

[2019-03-12 18:09] paulyoung commented on #151
I tried this on a NixOS VM (nixos-18.09.2327.37694c8cc0e-x86_64-linux):

[code]

[2019-03-12 23:00] paulyoung commented on #151
So, it turns out I was doing something completely incorrect with `nixpkgs = self.pkgs.src;` and pulling in the `src` package. What I wanted was `nixpkgs = self.pkgs.src;`

I'm still working on getting this to build in Mojave, but it seems like nixpkgs 18.09 and GHC 8.4 is involved (see https://github.com/adnelson/semver-range/pull/14)

[2019-03-14 20:26] paulyoung opened #152 "Bug with handling of namespaced packages?"
I've come to know that if I create a project that uses webpack, I'm pretty quickly going to run into a problem regarding the `@xtuc/long` package. It usually manifests as a "runtime" error (when running a webpack build, not a nix compilation error) and looks something like this:

[code]

Usually I just add `@xtuc/long` to my `package.json` and move on, but this time that didn't work so I started i

[2019-03-14 20:53] paulyoung commented on #152
I tried working around this issue by adding `@xtuc/long` to my `package.json` and setting `      NODE_PATH="$NODE_PATH:node_modules";` but then I encounter problems with missing peerDependencies. Not sure if that is related.

[2019-03-14 20:59] paulyoung opened #153 "Missing peerDependencies"
I encountered a couple of errors relating to `webpack` being missing for `html-webpack-plugin@4.0.0-alpha.2` and `terser-webpack-plugin@1.2.2`. Their `package.json` files list `webpack` as a peer dependency but there was no entry in the corresponding nix files.

I manually updated the nix files to add the peer dependencies but that didn't seem to make a difference.

When building I see warnings of

[2019-03-14 22:53] paulyoung commented on #152
FWIW, I'm trying to get an app freshly generated from `create-react-app` to build.

[2019-04-05 20:37] paulyoung opened #155 "UnsupportedVersionType FilePath"
I have an entry like `"x": "../foo/bar",` in my `package.json` file but I get `nixfromnpm: UnsupportedVersionType FilePath "../foo/bar"` when trying to use `nixfromnpm`.

I previously had `"x": "file:../foo/bar",` in my `package.json` file but was getting `UnsupportedUriScheme "file:"`.

This is despite both https://github.com/adnelson/nixfromnpm/issues/121 and the test suite indicating that file

[2019-04-05 20:48] paulyoung commented on #155
Probably because `resolveNpmVersionRange` in `NixFromNpm.Npm.Resolve` doesn't handle `FilePath`.